/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-innocode-wp-block-tabs {
  margin-top: 30px;
  margin-bottom: 30px;

  & .tabs-content {
	border: 1px solid lightgrey;
  }

  & .tab-title-wrap {
		border: 1px solid lightgrey;
  }

  .tabs-wrapper {
	.blocks-rich-text__tinymce.mce-content-body {
	  font-size: 14px;
	}
	&.vertical-tabs {
	  display: flex;
	}
  }

  .tabs-headings {
	position: relative;

	&.vertical-headings {
	  width: 25%;
	}
  }

  .tabs-title {
	display: flex;
	overflow-x: hidden;

	&:hover,
	&:focus {
	  overflow-x: auto;
	}
  }

  

	.tab-actions {
		// position: absolute;
		// top: 50%;
		// right: 2px;
		// transform: translateY(-50%);
	}

  .tabs-content {
		padding: 25px;

	&.vertical-content {
	  width: 75%;
	  border: 0;
	}
  }
}

.tab-title {
	word-break: initial;
	padding-right: 10px;

	&-wrap {
		display: flex;
		font-size: 14px;
		line-height: 1.57;
		color: #151515;
		padding: 8px 10px 6px 10px;
		border-radius: 8px;
		border: 1px solid #676769;
		text-decoration: none;
		align-items: center;
		position: relative;
		cursor: pointer;
		margin-right: 5px;
		width: auto !important;

		&.active {
			color: white;
			background: #676769;
		}
	}

	&-vertical-wrap {
		border-bottom: 1px solid #676769;
		padding: 10px 0;
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;

		&.active {
		border-bottom: 1px solid #000000;
		}
	}
}
